:root {
    --primary-color: #0077c2;
    --secondary-color: #c5cae9;
    --text-color: #333;
    --light-color: #f5f5f5;
    --dark-color: #212121;
}

.img-container {
    margin-top: 20px;
    margin-bottom: 1rem;
}

/* Styles for the header */
header {
    font-size: 3rem;
    padding: 1rem;
    color: var(--light-color);
    background-color: var(--primary-color);
    font-family: Audiowide;
    text-align: center;
}

html,
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    height: auto;
}

.title {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.dark-mode-btn {
    display: inline-block;
}


.dark-mode-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.dark-mode {
    background-color: black;
}


.img-container {
    display: inline-block;
    margin-left: left;
    margin-right: auto;
    max-width: 5%;
    width: 100px;
    /* set a fixed width */
    height: 100px;
}

h2 {
    font-size: 200%;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container.dark-mode {
    background-color: black;
    color: white;
}

.container>div {
    margin-bottom: 1rem;
}

.form-label {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.form-control {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--secondary-color);
}

.btn-primary {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
}

/* Styles for the search results */
#search-results {
    margin-top: 2rem;
}

.search-result {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.search-result .thumbnail {
    margin-right: 1rem;
}

.search-result .thumbnail img {
    width: 100%;
    height: auto;
}

.search-result h3 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.search-result p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #6c757d;
}

#music-results ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
}

#music-results li {
    width: 18%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--light-color);
    border-radius: 3.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#music-results li:nth-child(5n+1) {
    margin-left: 0;
}

#music-results li:nth-child(5n) {
    margin-right: 0;
}

#music-results li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#music-results li img {
    max-width: 100%;
    height: 9rem;
    object-fit: cover;
}

#music-results li:hover {
    border: 5px solid var(--primary-color);
    transform: scale(1.05);
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #333;
}

.playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.playlist li {
    font-size: 1.2rem;
    margin: 10px 0;
}

.playlist li span.artist {
    color: purple;
}

.playlist li span.name {
    color: red;
}

input[type="text"]::placeholder {
    text-align: center;
}

input[type="text"] {
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

#btn-recommend {
    margin-top: 1rem;
}




footer {
    margin: 0 auto;
    max-width: 200px;
    text-align: left;
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

/*
added to enlarge icon when hovering over selection
*/
@media screen and (max-width: 768px) {
    #music-results li {
        width: 45%;
    }
}