/* Styles for the form */

header {
    background-color: #007bff;
    text-align: center;
    font-size: 300%;
    padding-block: 1rem;
    color: white;
    margin-bottom: 1rem;
}

h2 {
    font-size: 200%;
}

div {
    margin-bottom: 1rem;
}

#city-search-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-control {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.btn-primary {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
}

/* Styles for the search results */
#search-results {
    margin-top: 2rem;
}

.search-result {
    margin-bottom: 1rem;
}

.search-result h3 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.search-result p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #6c757d;
}
